div {
    width: 200px;
    height: 200px;
}

.first {
    background-color: green;
}

.sec {
    background-color: red;
    height: 100px;
}

.third {
    background-color: blue;
}

section {
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: center; /* space along x axis */
    align-items: flex-start; /* y axis */
}