body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    box-shadow: 5px 5px 20px grey;
}

ul {
    list-style-type:none;
    display: flex;
}

li{
    padding: 10px;
}

li:last-of-type{
    background-color: cadetblue;
    border-radius: 30px;
    padding: auto 10px;
}